<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhst.xsync.mapper.ChunkMapper">

    <insert id="upsertBatch">
        insert into chunk(hash) values
        <foreach collection="list" item="chunk" separator=",">
            (#{chunk.hash})
        </foreach>
        on duplicate key update hash=values(hash)
    </insert>

</mapper>
