<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhst.xsync.mapper.FcMapper">

    <insert id="upsertBatch">
        insert into fc(fileId, chunkHash, `index`) values
        <foreach collection="list" item="fc" separator=",">
            (#{fc.fileId}, #{fc.chunkHash}, #{fc.index})
        </foreach>
        on duplicate key update chunkHash = values(chunkHash)
    </insert>

</mapper>
